.collection-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 !important;
  box-shadow: 0 0px 25px #ddd;
  border-radius: 15px;
  border: none;
  align-items: center;
}

.collection {
  border: none;
}

.material-icons {
  cursor: pointer;
}

.add-song {
  position: fixed;
  top: 30px;
  right: 15%
}

.likes-container {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.likes-container i {
  padding-right: 10px;
}